.navbar {
  padding: 1rem 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: relative; */

    ul {
      display: flex;
      gap: 1rem;
      margin: 0;

      li {
        a {
          color: #fff;
          position: relative;
          transition: var(--main-transition);

          &::after {
            content: '';
            position: absolute;
            bottom: -1rem;
            left: 50%; /* Start at the center */
            transform: translateX(-50%); /* Center the pseudo-element */
            width: 0%; /* Start with no width */
            height: 5px; /* Thickness of the "border" */
            background: linear-gradient(
              to right,
              var(--secondary-color),
              var(--main-color)
            );
            transition: var(
              --main-transition
            ); /* Smooth transition for the width */
          }

          &:hover::after {
            width: 100%; /* Expand to full width */
          }
        }
      }
    }
  }
}

.register {
  display: flex;
  gap: 1rem;
  .login {
    color: var(--main-color);
    border: 1px solid var(--main-color);
  }
  .signup {
    background-color: var(--secondary-color);
    color: #fff;
  }
}

@media (max-width: 768.1px) {
  .navbar {
    .container {
      ul {
        display: none;
        position: absolute;
        background: gray;
        flex-direction: column;
        width: 100% !important;
        left: 0;
        top: 77px;
        text-align: center;
        padding: 1rem 0 !important;
        li {
          padding: 0.3rem;
        }
      }
    }
  }
  .register {
    display: none;
  }
}
@media (min-width: 768.1px) {
  .bars {
    display: none !important;
  }
}
.open {
  display: flex !important;
}
.bars {
  border: 1px solid;
  padding: 0.2rem 0.5rem;
  border-radius: 7px;
  cursor: pointer;
  svg {
    color: #fff;
    border: none;
    font-size: 2rem;
  }
}
